@keyframes popout {
  from {
    transform: scale(0);
  }
  70% {
    transform: scale(1.25);
  }
  to {
    transform: scale(1);
  }
}

@keyframes float {
  from {
    transform: translateY(0) rotate(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(-90vh) rotate(180deg) scale(0.6);
    opacity: 0;
  }
}

@keyframes gif {
  from {
    transform: rotate(-90deg) scale(0.4);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

.chill {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.friends {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.friend:nth-last-child(2),
.friend:nth-last-child(2) ~ .friend {
  height: min(75vw, 75vh);
  width: min(75vw, 75vh);
}

.friend:nth-last-child(n + 3),
.friend:nth-last-child(n + 3) ~ .friend {
  height: min(42vw, 42vh);
  width: min(42vw, 42vh);
}

.friend:only-of-type {
  height: min(85vw, 85vh);
  width: min(85vw, 85vh);
}

.friend {
  animation: popout 350ms ease-out;
  background-color: black;
  object-fit: cover;
  height: min(85vw, 85vh);
  width: min(85vw, 85vh);
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.self {
  animation: popout 350ms ease-out;
  background-color: black;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  object-fit: cover;
  height: min(25vw, 25vh);
  width: min(25vw, 25vh);
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.emotesBar {
  user-select: none;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.emoteButton {
  outline: none;
  cursor: pointer;
  font-size: 26pt;
  background: none;
  border: none;
  margin: 0px 5px;
}

.emotes {
  pointer-events: none;
  user-select: none;
}

.emoteA {
  pointer-events: none;
  position: absolute;
  bottom: -100px;
  left: 50%;
}

.emoteB {
  animation: float 1500ms forwards ease-out;
  pointer-events: none;
  font-size: 50pt;
}

.gifTray {
  position: absolute;
  width: 360px;
  left: 0;
  right: 0;
  top: 10px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
}

.gifInput {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 18pt;
}

.gifOptions {
  height: 280px;
  overflow: scroll;
  padding: 10px;
  box-sizing: border-box;
}

.gif {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.gifA {
  animation: gif 600ms linear;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}
