@keyframes popout {
  from {
    transform: scale(0);
  }
  70% {
    transform: scale(1.25);
  }
  to {
    transform: scale(1);
  }
}

@keyframes float {
  from {
    transform: translateY(0) rotate(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(-90vh) rotate(180deg) scale(0.6);
    opacity: 0;
  }
}

@keyframes gif {
  from {
    transform: rotate(-225deg) scale(0.2);
    opacity: 0;
  }

  75% {
    transform: rotate(0deg) scale(1.6);
    opacity: 0.9;
  }

  to {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

.chill {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.friends {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.friend:nth-last-child(2),
.friend:nth-last-child(2) ~ .friend {
  height: min(75vw, 75vh);
  width: min(75vw, 75vh);
}

.friend:nth-last-child(n + 3),
.friend:nth-last-child(n + 3) ~ .friend {
  height: min(42vw, 42vh);
  width: min(42vw, 42vh);
}

.friend:only-of-type {
  height: min(85vw, 85vh);
  width: min(85vw, 85vh);
}

.friend {
  animation: popout 350ms ease-out;
  background-color: black;
  object-fit: cover;
  height: min(85vw, 85vh);
  width: min(85vw, 85vh);
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.self {
  animation: popout 350ms ease-out;
  background-color: black;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  object-fit: cover;
  height: min(25vw, 25vh);
  width: min(25vw, 25vh);
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.emotesBar {
  user-select: none;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.emoteButton {
  cursor: pointer;
  font-size: 26pt;
  background: none;
  border: none;
  margin: 0px 5px;
}

.emotes {
  pointer-events: none;
  user-select: none;
}

.emoteA {
  pointer-events: none;
  position: absolute;
  bottom: -100px;
  left: 50%;
}

.emoteB {
  animation: float 1500ms forwards ease-out;
  pointer-events: none;
  font-size: 50pt;
}

.gifTray {
  position: absolute;
  width: 90vw;
  max-width: 540px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gifTrayContent {
  animation: popout 350ms ease-out;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
}

.gifInput {
  width: 100%;
  box-sizing: border-box;
  font-size: 18pt;
}

.gifOptions {
  min-height: 320px;
  max-height: 60vh;
  overflow: scroll;
  box-sizing: border-box;
  margin: 0 -5px;
}

.gifPreview {
  width: 33%;
  padding: 5px;
  box-sizing: border-box;
}

.gifA {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gifB {
  animation: gif 600ms linear;
}

.gif {
  max-width: 90vw;
  border-radius: 8px;
}
