.chill {
  height: 100%;
  width: 100%;
  position: absolute;
}

.friends {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.friend:nth-last-child(2),
.friend:nth-last-child(2) ~ .friend {
  height: min(75vw, 75vh);
  width: min(75vw, 75vh);
}

.friend:nth-last-child(n + 3),
.friend:nth-last-child(n + 3) ~ .friend {
  height: min(42vw, 42vh);
  width: min(42vw, 42vh);
}

.friend:only-of-type {
  height: min(85vw, 85vh);
  width: min(85vw, 85vh);
}

.friend {
  animation: popout 400ms ease-in;
  background-color: black;
  object-fit: cover;
  height: min(85vw, 85vh);
  width: min(85vw, 85vh);
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.self {
  animation: popout 400ms ease-in;
  background-color: black;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  object-fit: cover;
  height: min(25vw, 25vh);
  width: min(25vw, 25vh);
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
