html,
body,
#__next {
  height: 100%;
  margin: 0;
}

* {
  line-height: 1.65em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline-color: var(--color-action-secondary);
}

body {
  font-size: 1em;
  font-family: system-ui, sans-serif;
  color: var(--color-primary);
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
  color: var(--color-action);
  padding: 4px;
  margin-left: -4px;
  margin-right: -4px;
}

a:active {
  border-radius: 3px;
  background-color: var(--color-action-secondary);
}

@media (hover: hover) {
  a:hover {
    border-radius: 3px;
    background-color: var(--color-action-bg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 900;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
pre {
  margin-bottom: 16px;
}

button,
input {
  font-size: inherit;
}

hr {
  margin-bottom: 32px;
  margin-top: 32px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--color-dim);
}

ul,
ol {
  padding-inline-start: 24px;
}

input {
  padding: 8px;
}

button {
  cursor: pointer;
  font-weight: 900;
  border: none;
  padding: 8px;
}

code {
  color: var(--color-bg);
  background-color: var(--color-primary);
  font-size: 16px !important;
  padding: 2px;
  border-radius: 3px;
}

.container {
  max-width: 720px;
  padding: 24px;
  margin: 0 auto;
}

.section {
  margin-bottom: 24px;
}

.space {
  margin-bottom: 16px;
}

.space-inline {
  margin-right: 16px;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.box-v {
  display: flex;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.big {
  font-size: 24px;
}

.button-unstyled {
  border: none;
  background: none;
}
