:root {
  --color-primary: #191919;
  --color-action: blue;
  --color-action-bg: pink;
  --color-action-secondary: violet;
  --color-dim: lightgray;
  --color-bg: #f9f9f9;
}

.dark-mode {
  --color-primary: #f9f9f9;
  --color-action: violet;
  --color-action-bg: darkslateblue;
  --color-action-secondary: deepskyblue;
  --color-dim: gray;
  --color-bg: #11061d;
}
